body {
    margin-top: 3rem;
}
.container h1{
    display:flex;
    color: rgb(51, 31, 2);
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1.5rem; */
    width:100vw;
    text-align: center;
}
.logo{
    /* width: 80vw; */
    /* height: 20vh; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.logo img{
    padding: 0;
    margin: 0;
    width: 10rem;
    height: 100%;
    border-radius: 100%;
    margin-bottom: 3rem;
}
form label{
    font-size: 1.2rem !important;
    color: red;
    margin-bottom: 1rem;
}
form{
    display: flex;
    justify-content: center;
    width: 100% !important;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    
}
.form input {
    border:  3px solid  rgb(51, 31, 2);
    background-color: white;
    height: 2rem;
    padding: 0.5rem;
    width: 70%;
}
.rounded{
    background-color:  rgb(51, 31, 2);
    color: rgb(51, 31, 2) ;
    font-size: 1rem;
    border-radius: 0.7rem;
}

.rounded2 {
    font-size: 1rem;
    background-color:  rgb(51, 31, 2);
    color: white;
    border-radius: 1rem;
}
button {
    margin-top: 1rem;
    width: 80%;
}